header{
    height: 100px;
    background-color: rgb(114, 237, 251);
}
#headerList{
    display: flex;
    list-style-type: none;
}
#logoPic{
    height: 90%;
    width: 40%;
}
#headerText{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    text-align: center;
    
}
.outerDiv{
    display: flex;
    position: relative;
    margin: 1% 0 0 2%;  
    height: 1000px;
    width: 95%;
}
.navigationDiv{
    width: 20%;
    height: 720px;
    background-color: rgb(114, 237, 251);
    margin: 1% 0 0 2%;
}
.optionGrid{
    display: grid;
    width: 75%;
    height: auto;
    margin: 1% 2% 1% 4%;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 250px 250px 250px 250px 250px;
    column-gap: 1%;
    row-gap: 2%;
}
.gridItem{
    background-color: rgb(89, 197, 255);
}
#navigationList{
    list-style-type: none;
    width: 97%;
    padding: 0 0 0 2%;
}
#navigationList li{
    width: 97%;
    height: 100px;
    margin: 5% 1% 1% 1%;
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}